.wrapper {
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
	display: grid;
	
	
	grid-template-areas:
	"h h"
	"n c"
	"f f";
	
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	grid-template-columns: 2fr 10fr;
	/* grid-gap: 0; */
}

.content {
	background-color: pink;
}